@charset "UTF-8";
*{
    margin: 0;
    border: 0;
}

body {
    background: url(../сайт/img/b3.jpg) no-repeat center center fixed;;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
  .to-up {
    position: fixed;
    bottom: 28px;
    right: 28px;
    display: none;
    z-index: 22;
    cursor: pointer;
    opacity: 0.5;
  transition: 0.35s;
}
.to-up:hover {
    opacity: 1;  
}

ul {
    list-style: none;  
    display: flex;
    margin:0px;
    padding:0px;
  }
  
  ul:after {
    display: block;   
    float: none;
    clear: both;
  }
  
  ul.mmenuu > li {
  
    position: relative;
    list-style-type: none;
    flex-basis: auto;
    flex-grow: 1;
    background: rgb(37, 37, 37);
    text-align: center;
    height: 40px;
  }
  
  ul.mmenuu > li > a {
    font-family: georgia, garamond serif;
  font-size: 16px;
    font-weight: bold;
    display: block;
    color: #fff;
    padding: 10px;
    
    text-decoration: none;
    background: rgb(37, 37, 37);
  }
  
  ul.mmenuu > li > a:hover {
    background-color: #181717;
  }
  
  ul.ssubmenuu {
    position: absolute;
    width: 293px;
    top: 37px;
    left:0px;
    display: none;
    background-color: white;
  }
  ul.ssubmenuu > li {
   
    display: block;
  }
  ul.ssubmenuu > li > a {
    display: block;
    font-family: georgia, garamond serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
     background-color: rgb(37, 37, 37);
  }
  ul.ssubmenuu > li > a:hover {
    background-color: #181717;
    text-decoration: underline;
  }
  ul.mmenuu > li:hover > ul.ssubmenuu {
    display: block;
  }


.container1 {
  background: rgb(37, 37, 37);
  width: 100%;
  height: 300px;
  margin-top:150px;
  text-align: center;
  background-attachment: fixed;
  flex-direction: row;
  justify-content: space-around;
}

.text {
  vertical-align:middle;
  white-space: pre-wrap;
   color:rgb(240, 231, 231);
   font-family: georgia, garamond serif;
   font-size: 20px;
   margin-left: 50px;
   margin-right: 50px;
}

.container {
  background: rgb(37, 37, 37);
  width: 100%;
  height: 830px;
  margin-top:150px;
  text-align: center;
  background-attachment: fixed;
  flex-direction: row;
  justify-content: space-around;
}

#znach {
  padding: 0;
  width: 973;
  height: 46px;
  z-index: 12;
  position: relative;
  color: rgb(255, 255, 255);
}

#znachsen {
  width: 973;
  height: 46px;
  z-index: 12;
  position: relative;
  color: rgb(255, 255, 255);
}

#znachsen .senior {
  width: auto;
  height: 46px;
  display:table-cell;
  vertical-align:middle;
  text-align: left;
  white-space: pre-wrap;
}

#znachsen h1{
margin-top: -190px;

  font-family: 'Segoe Print';
  font-size: 4em;
  font-weight: bold;
  white-space: nowrap;
 text-align: center;
}

#znachsen p{
  color: rgb(255, 255, 255);
  font-family: georgia, garamond serif;
  font-size: 20px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#znachsen a, img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
}

#znachsen a,img:hover {
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
  }

  .container2 {
    background: rgb(37, 37, 37);
    width: 100%;
    height: 730px;
    text-align: center;
    background-attachment: fixed;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
  }

  #znachmin {
    padding: 0;
    width: 973;
    height: 46px;
    z-index: 12;
    position: relative;
    color: rgb(255, 255, 255);
  }
  #znachmin .minor {
    width: auto;
    height: 46px;
    display:table-cell;
    vertical-align:middle;
    text-align: left;
    white-space: pre-wrap;
  
  } 

  #znachmin h1{
    margin-top: -190px;
  
    font-family: 'Segoe Print';
    font-size: 4em;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
  }
  
  #znachmin p{
  color: rgb(255, 255, 255);
  font-family: georgia, garamond serif;
  margin-top: -20px;
  font-size: 20px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  }
  
  #znachmin a, img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
  }
  
  #znachmin a,img:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
    }
.container0 h1{
 
  margin-top: 50px;

  font-family: 'Segoe Print';
  font-size: 3em;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.container0{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  background-attachment: fixed;
  flex-direction: row;
  justify-content: space-around;
}

.container0, a{
  color: rgb(255, 255, 255);
  font-family: georgia, garamond serif;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
.container0 a:hover {
  opacity: 0.4;
}

.place_for_search{
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: inherit;
  outline: none;

  text-decoration-color: #fff;
}
.button_for_search{

  padding: 10px 5px 15px 20px;  ;
  height: 20px;
  background: url(img/poisk.png) no-repeat 3px 1px;
  background-size: auto 90%;
  cursor: pointer;
}
.button_for_turn_back{
  padding: 15px 5px 15px 20px; ;
  height: 20px;
  background: url(img/otmena.png) no-repeat 3px 1px;
  background-size: auto 90%;
  cursor: pointer;
}
#text-to-find{
  color: #fff;

}

.foot0{
  height: 100px;
  }
  
  *{
      margin: 0;/*обнуление отступов*/
      padding: 0;/*обнуление полей*/
  
      font-family: 'Poppins', sans-serif;/*название шрифта*/
  }
  body {
      display: flex;/*флексбокс сетка*/
      flex-direction: column;/*направление главной оси*/
      justify-content: flex-end;/*элементы в конце контейнера*/
      min-height: 100vh;
  }
  footer{
      position: relative;/*относительное позиционирование*/
 
      padding: 20px 50px;/*поля для контента*/
      background: rgb(37, 37, 37);/*цвет футера*/
      display: flex;
      justify-content: center;/*в центре по горизонтали*/
      align-items: center;/*в центре по вертикали*/
      flex-direction: column;
      margin-top: 100px;/*отступ сверху*/
     
    
  }
  footer .wave{
      position: absolute;/*абсолютное позиционирование*/
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background: url(wave.png);/*картинка волны*/
      background-size: 1000px 100px;/*ширина и высота волны*/
  }
  .social,
  .menu{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;/*разрешен перенос на новую строку*/
  }
  .social li,
  .menu li{
      list-style: none;/*удалить черные маркеры*/
      
  }
  .social li  img {
      font-size: 2em;/*размер иконок*/
      color: #fff;/*цвет иконок*/
      margin: 0 10px;
      display: inline-block;/*отображать как строчно-блочный элемент*/
      transition: 0.5s;/*плавный переход*/
  }
  .social li img:hover {
    opacity: 0.4;
  }
  .menu li a {
      font-size: 1.2em;/*размер ссылок меню*/
      color: #fff;/*цвет ссылок меню*/
      opacity: 0.75;/*значение прозрачности*/
      margin: 0 15px;
      text-decoration: none;/*ссылка без подчеркивания*/
      display: inline-block;
  }
  .menu li a:hover {
      opacity: 1;
  }
  footer p {
      color: #fff;
      text-align: center;
      margin-top: 15px;
      font-size: 1.1em;
  }    